{% extends 'store/000_main.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/003_products.css' %}">
<h3 class="Title-product">products</h3>
<div class="cards-flex">
    {% for product in prods %}
    <a href="{{product.get_absolute_url}}">
        <div class="product-card" data-aos="fade-up"
        data-aos-anchor-placement="top-center">
            <div class="product-tumb">
                <img src="{{ product.image.url }}" alt="product image">
            </div>
            <div class="product-details">
                <span class="product-catagory">{{product.type_product}}</span>
                <h4><a href="{{product.get_absolute_url}}">{{product.name}}</a></h4>
                <p class="description-product">{{product.description}}</p>
                <div class="product-bottom-details">
                    <div class="product-price"><small></small>{{product.price}} <small>{{product.price_unit}}</small></div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}