{% extends 'store/main.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
<!-- hero start -->

<div class="hero-container" style="background-image: url({% static 'images/hero-bg.jpg' %}) ;    background-repeat: no-repeat;
background-size: cover;">
    <p class="hero-main-text">
        Lounis Agriculture
    </p>
    <p class="hero-slugan-text">
        Nous avons des solutions pour les besoins de l'agriculture
    </p>
</div>

<!-- hero end -->

<h3 class="Title-product">our products</h3>
<div class="cards-flex">
    {% for type in products_type %}
    <a href="{{type.get_absolute_url}}">
        <div class="product-card" data-aos="fade-up"
        data-aos-anchor-placement="top-center"> 
            <div class="product-tumb">
                <img src="{% static 'images/engrais.jpg' %}" alt="">
            </div>
            <div class="product-details">
                <h4><a href="{{type.get_absolute_url}}">{{type.name}}</a></h4>
                <p class="description-product">{{type.description}}</p>
            </div>
        </div>
    </a>
    {% endfor %}

</div>
{% endblock content %}