@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

body {
    background-color: rgba(0, 165, 90, 0.10);
}

.hero-container {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;

    align-items: center;
    text-align: center;
    vertical-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 8px rgba(0, 165, 91, 0.707);
}

.hero-main-text {
    font-size: 70px;
    font-weight: 700;

    color: white;
}

.hero-slugan-text {
    color: white;
    font-size: 25px;
    font-weight: 500;
    /* font-family: 'Twinkle Star', cursive; */

}

.Title-product {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    width: fit-content;
    margin: 20px auto !important;

}

.hero-container {
    width: 100vw;
    height: 90vh;
}
.suggestion-container{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.cards-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 80vw;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;

}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 4px 4px 7px #0000006d;
    margin: 50px auto;
    background: #fafafa;
    border-radius: 20px;
    transition: all 0.2s;
}

.product-card:hover {
    transform: scale(1.1);
    transition: all 0.2s;
    box-shadow: 0px 0px 20px #0000006d;
    border-radius: 20px;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgb(255, 0, 0);
    color: #fff;
    padding: 3px 10px 0px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #00A559;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
    text-align: center;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #00A559;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    /* text-decoration: line-through; */
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #00A559;
}

.description-product {
    width: 100%;
    /* min-width: 350px; */
    word-wrap: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 90px;
    overflow-y: hidden;
}

@media (max-width: 991.98px) {
    .hero-main-text  {
        font-size: 50px;
    }
    .hero-slugan-text {

    } 
    .description-product {
        width: 70vw;
        -webkit-line-clamp: 4;
    }
    
    .product-card  {
        width: 80vw;
    }
}

.view {
    text-decoration: underline;
    align-items:  center;
    color: #363636;
    font-size: 75px;
}
