@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

.container-product-view {
    display: flex;
    justify-content: center;
}

.product_view_container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Poppins';
    background-color: white;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.product_view_image {
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

hr {
    width: 80%;

}

.product_view_info {
    width: 40%;
    margin: 20px 0;
}

.product_view_info_type {
    font-size: 15px;
    font-weight: 500;
    color: gray;
}

.product_view_info_name {
    font-size: 2.5rem;
}

.product_view_info_price {
    font-size: 2rem;
    font-weight: 600;
}

.price_unit {
    font-size: 1.1rem;
}

.product_image {
    width: 35vw;
    height: 500px;
    object-fit: contain;
    
}

@media (max-width:1200px) {
    .product_view_container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .product_view_image {
        height: 250px;
    }
    .product_view_info {
        width: 90%;
        margin-top: 50%;
    }
    .product_image {
        width: 70vw;
        object-fit: contain;
        height: 500px;
    }
}
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 80vw;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}


.options-area {
    margin: 60px;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

.options-area h3 {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 20px;
}

.options-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}

.option-card {
    padding: 20px;
    width: 250px;
    word-wrap: break-word;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.229);
    margin: 20px 0;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: normal;
    text-align: center;

}
.option-card:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.option-card p {
    font-weight: 600;
    font-size: 1.3rem;
    align-self: auto;
    height: auto;
}

.pricing { 
    margin-top: auto;

}
.pricing p {
    font-weight: 500;
    font-size: 1.2rem;
}
span.price {
    font-size: 24px;
    color:  #00A559;
    font-weight: 600;
}

span.price-color {
    color:  #00A559;
}
.price-info {
    font-size: 10px;
    font-weight: 400;
}


@media (max-width:650px) {
    .product-tumb img {
        max-width: 80vw;
        max-height: fit-content;
        width: 80vw;
        height: auto;
    }
}

@media (min-width:900px) {
    .product_view_info {
        padding-left: 40px;
    }
}
