@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

.container-product-view {
    display: flex;
    justify-content: center;
}

.product_view_container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Poppins';
    background-color: white;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.product_view_image {
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

hr {
    width: 80%;

}

.product_view_info {
    width: 50%;
    margin: 20px 0;
}

.product_view_info_type {
    font-size: 15px;
    font-weight: 500;
    color: gray;
}

.product_view_info_name {
    font-size: 2.5rem;
}

.product_view_info_price {
    font-size: 2rem;
    font-weight: 600;
}

.price_unit {
    font-size: 1.1rem;
}

.product_image {
    width: 35vw;
    height: 500px;
    object-fit: contain;
    
}

@media (max-width:1200px) {
    .product_view_container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .product_view_image {
        height: 250px;
    }
    .product_view_info {
        width: 80%;
    }
    .product_image {
        width: 70vw;
        object-fit: contain;
        height: 500px;
    }
}
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0px;
    background: #ffffff;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

